body{
    margin:0em;
}
header{
    /* background-color:red; */
   padding-top:1em;
   margin-left:5%;
   margin-right:5%;
   padding-bottom:0;
   display: grid;
   grid-template-columns:33% 33% 34%;
    
}

.logo{
    grid-column: 1/2;
    font-size:2.5vw;
	font-family: helvetica ;
    font-weight: bold;
    padding-top:0.5em;
    padding-bottom :0.5em;
    padding-right: 1em;
    padding-left: 0.2em;
    display: flex;
    justify-content: center;
    align-content: center;
}

.navigation{
    grid-column: 2/3;
    display: flex;
    justify-content: space-around;
    align-items: center;
    font-size: 1.4vw;;
    font-weight:lighter;
    font-family: helvetica ;
}
.button{
    grid-column: 3/4;
    padding-top: 0.7em;
    padding-bottom: 0.7em;
    padding-right: 0.7em;
    padding-left:0.7em;
    display: flex;
    justify-content: center;
    align-items: center;
}
.donate-button{
    /* grid-column: 3/4; */
    display: flex;
    border: 0em;
    justify-content: center;
    align-items: center;
    font-size: 2vw;
    border-radius:3em;
    font-family: helvetica ;
	font-weight: bold;    
	background-color: #C1F7D5;
    padding: 0.5em;
   
}

.wrapper{
    background-image:url("image/desktop.png");  
    background-size:cover;
}

.container{
    display: grid;
    grid-template-columns: 30% 45%;
    grid-column-gap: 25%;
    margin-left: 5%;
    margin-right: 5%;
    padding-top: 2em;
    padding-bottom: 2em;
}
@font-face {
    font-family: "flood-std";
    src: url("FloodStd.otf");
    }
.hashtag-context{
grid-column: 1/2;
font-size:5vw;
font-family: "flood-std";
font-weight: bold;
color:white;
width: 80%;
margin-bottom:0;
}

.environment-organization{
    grid-column: 2/3;
    
    
} 
.issue{
    grid-column: 2/3;
    padding: 0.5em;
    color: white;
    background-color: #354463;
    position: absolute;
    top: -1em;
    left: 1em;
    font-size:1.5vw;
    
}
.environment-content{
    grid-column: 2/3;
    margin-top: 2.5em;
    background-color: white;
    font-size: 2vw;
    font-weight: bold;
    /* width: 32%; */
    padding: 2em;
    margin-right: 3em;
    padding-right: 3em;
    position: absolute;
}
.environment-content > p{
    margin: 0;
    color: #354463;
    font-size: 2vw;
}

 .environmental-management{
  /* background-color: #354463;
  display: grid;
  grid-template-rows: 35% 60%;
  grid-row-gap:4%;
  padding-left:4em;
  padding-right:4em;
  padding-top:4em;
  padding-bottom:4em; */
  background-color: #354463;
    display: grid;
    grid-template-rows: 0.25fr 1fr 3fr;
    grid-row-gap: 2em;
    padding-left: 4em;
    padding-right: 4em;
    padding-top: 4em;
    padding-bottom: 4em;
}

.what-we-do{
    padding: 0.5em;
    margin: 3%;
    background-color: white;
    margin-left: 0;
    width: 7em;
    white-space: nowrap;
}
.environment-text > p {
    /* grid-row: 1/2;
    font-size: 3vw;
    color: white;
    font-family: Helvetica;
    font-weight: bold;
    margin-top: 10%; */

    font-size: 3vw;
    color: white;
    font-family: Helvetica;
    font-weight: bold;
}



.environment-awareness{
    /* grid-row:2/3;
    display:grid;
    grid-template-rows: 40% 40%;
    grid-row-gap:20%;
    grid-template-columns: 22% 22% 22% 22%;
    grid-column-gap:4%;
    margin-top:3%;
    margin-bottom: 1%; */

    display: grid;
    grid-template-rows: 40% 40%;
    grid-row-gap: 20%;
    grid-template-columns: 22% 22% 22% 22%;
    grid-column-gap: 4%;
    
}

.environment-awareness-item{
    font-family: Helvetica;
    font-weight: bold;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}


h3{
    color:white;
}
p{
    margin-top:0;
    font-size:1.2vw;
    color:white;
} 

@media screen and  (max-width:768px) and (min-width:400px)
{
    header{
    margin-left: 4%;
    margin-right: 4%;
    display: grid;
    grid-template-rows: 50% 50%;
    }

    .logo{
        padding-top: 0.5em;
        padding-bottom: 0.5em;
        padding-right: 0.5em;
        padding-left: 0em;
        font-size: inherit;
    
    }
    .navigation{
        grid-row: 2/3;
        grid-column: 1/3;
        padding: 1em;
        padding-top: 2em;
        font-size: 2vw;
    }
    .button{
        grid-row: 1/2;
        grid-column: 3/4;
        padding-top: 2.4vw;
        }
    .donate-button{
        padding-bottom: 0.5em;
        padding-top: 0.5em;
        font-size: 3vw;
        font-family: helvetica;
        font-weight: bold;
        border-radius: 3em;
    }
    .wrapper{
        background-image: url("image/tablet.png");
        background-size:cover;
    }
    .container
    {
        grid-template-rows: 1fr 1fr;
        grid-row-gap: 10%;
        /* padding-bottom: 8em; */
        grid-column-gap: 0;
        grid-template-columns: 1fr 1fr

    }

    .hashtag-context{
        grid-row:1/2;
        grid-column:1/3;
        font-size:10vw;
       
      
    }

    .environment-organization{
        grid-row:2/3;
        grid-column:1/3;
    }
    .environment-content{
        margin-left: 0;
        margin-top: 0;
        position: absolute;
        margin-right: 2.3em;
        
    }
    .environment-content > p{
        font-size: 4vw;
    }
    .issue{
       
        font-size: 2vw;
    }
    .environmental-management{
        /* padding-bottom:6em; */
        padding-bottom: 6em;
    grid-template-rows: 0.25fr 0.5fr 3fr;
    }
    .environment-awareness{
        grid-template-rows: 1fr 1fr 1fr;
        grid-template-columns: 1fr 1fr 1fr;
        grid-column-gap: 5%;
        grid-row-gap: 2em;
    }
    .environment-text{
        margin-bottom:1em;

    }

    .environment-awareness-item
    {
        font-family: Helvetica;
    font-weight: bold;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    }
}

@media screen and (max-width:398px)
{

    header{
        display: grid;
        margin-left: 3%;
        margin-right:3%;
        padding-top: 1em;
        padding-bottom: 1em;
        }
        .logo{
            grid-column: 1/2;
            grid-row: 1/2;
            display: flex;
            padding: 0.5em;
            padding-top: 2em;
            font-size: 3.8vw;
        }
        .navigation{
            grid-row: 1/2;
            grid-column: 3/4;
            display: flex;
            flex-direction: column;
            /* justify-content: center;
            align-items: center; */
            font-size: 3.5vw;
            padding: 0.5em;
            font-family: helvetica;
            font-weight: lighter;
            
        }

        .navigation-item1,.navigation-item2,.navigation-item3{
            margin-bottom:8%;
            margin-top:2%;
        }
        .button{
            grid-column: 1/4;
            padding: 0;
            padding-top: 1em;
        }
        .donate-button{
          grid-row:2/3;
          grid-column: 1/4;
          display: flex;
          border: 0em;
          justify-content: center;
          align-items: center;
          font-size: 4vw;
          border-radius: 3em;
          font-family: helvetica;
          font-weight: bold;
          background-color: #C1F7D5;
          padding-left: 3.5em;
          padding-right: 3.5em;
                    
    }
    .wrapper{
        background-image: url("image/mobile.png");
        background-size:cover;
    }
    .container
    {
        grid-template-rows: 1fr 1fr;
        grid-row-gap: 1em;
        /* padding-bottom: 8em; */
        grid-template-columns:1fr 1fr;
        grid-column-gap: 0;
       
    }
    .hashtag-context{
        grid-row:1/2;
        grid-column:1/3;
        font-size:10vw;
       

    }
    .environment-organization{
        grid-row:2/3;
        grid-column:1/3;
    }

    .environmental-management{
        grid-template-rows: 0.25fr 0.5fr 2.5fr;
        grid-row-gap:1em;
    }

    p{
        font-size:2vw;
    }
    .environment-awareness
    {
        grid-template-rows:1fr 1fr;
        grid-row-gap:1em;
        grid-template-columns:1fr 1fr;
        grid-column-gap:1em;
    }
    .environment-text > p {
        font-size:5vw;
    }
    .environment-content{
        padding-right: 2em;
        /* margin-right: 2em; */
        margin-top: 0;
    }
    .environment-content >p    {
        margin-right:0;
        font-size: 5vw;
    }
    .what-we-do{
       margin-left:18%;
       margin-bottom:15%;
    }

    
}